<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Techtonics</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <servlet-class>bussinessLogic.Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/signupservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>bussinessLogic.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StoryServlet</servlet-name>
    <servlet-class>bussinessLogic.StoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StoryServlet</servlet-name>
    <url-pattern>/allStories</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadStoryServlet</servlet-name>
    <servlet-class>bussinessLogic.UploadStoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadStoryServlet</servlet-name>
    <url-pattern>/uploadStories</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GoBack</servlet-name>
    <servlet-class>bussinessLogic.GoBack</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoBack</servlet-name>
    <url-pattern>/GoBack</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>bussinessLogic.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AllTechTalks</servlet-name>
    <servlet-class>bussinessLogic.Allservlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllTechTalks</servlet-name>
    <url-pattern>/allTechTalks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewTechTalkAddition</servlet-name>
    <servlet-class>bussinessLogic.NewTechTalkAddition</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewTechTalkAddition</servlet-name>
    <url-pattern>/newTechTalk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DeleteTechTalk</servlet-name>
    <servlet-class>bussinessLogic.DeleteTechTalk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTechTalk</servlet-name>
    <url-pattern>/deleteTechTalk</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TechTalkUpdating</servlet-name>
    <servlet-class>bussinessLogic.TechTalkUpdating</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TechTalkUpdating</servlet-name>
    <url-pattern>/updateTechTalk</url-pattern>
  </servlet-mapping>
</web-app>